@import '../../../styles/texts.scss';
@import '../../../styles/layout.scss';
@import '../../../styles/buttons.scss';

.IntroGadgets {
  @include flex-column-between;
  background-color: #F2EDEB;
  height: 551.59px;

  &--header {
    @include flex-column-between;
    justify-content: flex-start;
    width: 302px;
    height: 107px;
    margin-top: 51.03px;

    &--info {
      h2 {
        @include main-text-style;
      }
    }
  }

  &--gadgetsGetDetails {
    @include flex-row-between;
    margin-bottom: 60.44px;
    width: 302.72px;
    position: relative;

    #goToStore {
      position: absolute;
      top: 55.76px;
      left: 179.86px;
    }
  }
}

@media(min-device-width: 1024px) {

  .IntroGadgets {
    height: 800px;
    justify-content: center;

    &--wrapper {
      @include flex-row-between;
      justify-content: center;
      width: 1148.28px;
    }

    &--gadgetsGetDetails {
      @include flex-column-between;
      height: 414.74px;
      width: 444px;
      margin-right: -10px;
      margin-bottom: 0;
    }

    &--header {
      width: 444px;
      height: 253px;
      margin-top: 0;

      h2 {
        @include main-text-style;
        font-size: 33px;

        line-height: 43px;

        &:nth-child(2) {
          margin-top: 30px;
        }
      }
    }

    #goToStore {
      position: static;
    }

    &--3pics {
      height: 100%;

      &--wrapper {
        width: 500px;
        position: relative;
        height: 100%;

        img {
          position: absolute;

          &:nth-child(1) {
            left: 257px;
            top: -45px;
          }

          &:nth-child(2) {
            top: 90px;
            left: 64px;
          }

          &:nth-child(3) {
            top: -79px;
            left: -36px;
          }

          &:hover {
            transform: scale(1.1);
            transition: 0.2s;
          }
        }
      }
    }
  }
}

@media(min-device-width: 1366px) {

  .IntroGadgets {
    &--gadgetsGetDetails {
      margin-right: 70.34px;
    }

    h2 {
      font-size: 36px;
    }

    &--3pics {
      &--wrapper {
        img {

          &:nth-child(1) {
            left: 284px;
            top: -53px;
          }

          &:nth-child(2) {
            top: 90px;
            left: 145px;
          }

          &:nth-child(3) {
            top: -79px;
            left: 0;
          }
        }

      }

    }
  }
}