@import '../../styles/layout.scss';

.PageHeader {
  @include flex-row-between;
  height: 97px;
  z-index: 5;
  background-color: #FFFFFF;
  width: 100%;
  max-width: 100vw;
  position: fixed;

  &.small {
    height: 48px;

    div {
      margin-bottom: 0;
    }
  }

  &--wrapper {
    @include flex-row-between;
    margin: auto 36px;
    width: 100%;


    .PageHeader--logo {
      height: 32.47px;
      width: 117px;

      &.mini {
        transform: scale(0.7);
      }
    }

  }
}

@media(min-width: 1024px) {
  .PageHeader {
    height: 99px;
    justify-content: center;


    &--wrapper {
      justify-content: center;
      margin: 0;
      width: 80%;
      height: 100%;


      .PageHeader--logo {
        width: 168px;
        height: auto;
        margin-right: 100px;

        &.mini {
          transform: scale(0.6);
        }
      }

    }
  }
}

@media(min-width: 1366px) {
  .PageHeader {
    &--wrapper {
      .PageHeader--logo {
        margin-right: 270px;
      }
    }
  }
}