.HeaderImg {
  position: relative;
  margin-top: 97px;

  &--wrapper {
    width: 100%;
    position: relative;
  }

  &--img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  &--title {
    font-size: 42px;
    font-family: "Sulphur Point", sans-serif;
    font-weight: normal;
    color: #f2edeb;
    margin: 0;
    position: absolute;
    top: 40%;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
  }

  &--rectangle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #335361;
    opacity: 0.48;
  }
}


@media(min-width: 1024px) {
  .HeaderImg {
    &--title {
      font-size: 65px;
    }

    &--rectangle {
      background-color: #2E3C4B4D;
      opacity: 1;
    }
  }
}