@import '../../../styles/texts.scss';
@import '../../../styles/layout.scss';
@import '../../../styles/buttons.scss';

.Introduction {
  @include flex-column-between;
  background-color: #F2EDEB;
  height: 482px;

  &--header {
    @include flex-column-between;
    width: 302px;
    height: 107px;
    margin-top: 47px;

    &--headerWrapper {
      width: 302px;

      h2 {
        @include main-text-style;
      }
    }
  }

  &--carousel {
    width: 100%;
    margin-bottom: 48px;
  }
}

@media (max-width: 365px) {
  .Introduction {
    &--header {
      &--headerWrapper {
        h2 {
          font-size: 17px;
        }
      }
    }
  }
}

@media(min-width: 1024px) {
  .Introduction {
    text-align: center;
    height: 776.31px;
    position: relative;

    &--header {
      &--headerWrapper1 {
        @include main-text-style;
        margin: 0;
        position: absolute;
        width: 274px;
        line-height: 38px;
        text-align: left;
        top: 54px;
        // left: 207px;
        left: 10%;

        h2 {
          margin: 0;
          line-height: 38px;
        }
      }

      &--headerWrapper2 {
        @include main-text-style;
        margin: 0;
        position: absolute;
        width: 537px;
        height: 77px;
        line-height: 38px;
        text-align: right;
        top: 643px;
        right: 10%;
        z-index: 1;

        h2 {
          margin: 0;
          line-height: 38px;
        }
      }
    }
  }
}

@media(min-width: 1366px) {
  .Introduction--header--headerWrapper1 {
    top: 54px;
    left: 10%;
  }

  .Introduction--header--headerWrapper2 {
    top: 643px;
    right: 10%;
  }
}