@import '../../../styles/texts.scss';
@import '../../../styles/layout.scss';
@import '../../../styles/buttons.scss';

.ContactForm {
  @include flex-column-between;
  justify-content: flex-start;
  height: 676px;
  background-color: #F2EDEB;
  position: relative;

  &--header {
    @include main-text-style;
    font-size: 26px;
    font-weight: bold;
    line-height: 37px;
  }

  &--form {
    width: 302px;
    margin-top: 31px;

    &--checkbox {
      @include flex-row-between;
      align-items: flex-start;
      align-self: flex-start;
      width: 262px;
      margin-top: 20px;

      label {
        @include label-checkbox;
      }
    }
  }

  #sendBtn {
    @include remove-button-style;
    position: absolute;
    bottom: 44px;
    transform: translateX(74px);
  }

}

@media(min-width: 1024px) {
  .ContactForm {
    width: 535.25px;
    align-items: flex-start;
    margin-top: 74px;
    height: 646px;

    #sendBtn {
      position: static;
      margin-top: 30px;
      margin-left: 390px;
      transform: translateX(0);

      &:hover {
        transform: scale(0.95);
      }
    }

    &--form {
      width: 100%;
    }

    &--name-wrapper {
      @include flex-row-between;

      .InputWrapper {
        input[type="text"] {
          width: 260.25px;
        }
      }
    }
  }
}