@import '../../styles/layout.scss';
@import '../../styles/texts.scss';

.showLanternListDesktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  width: 153px;
  height: 100%;

  .arrowDesktop {
    width: 14px;
    height: 8px;
    margin-right: 5px;
    margin-bottom: 4px;
  }

  p {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    color: #2E3D4B;
    font-family: 'Sulphur Point', sans-serif;

    &:after {
      display: block;
      content: '';
      border-bottom: 4px solid #B04527;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }

    &:hover:after {
      transform: scaleX(1);
    }
  }

  &.active {
    background-color: #2E3C4BE6;

    p {
      text-transform: uppercase;
      font-size: 20px;
      line-height: 20px;
      margin: 0;
      color: #F2EDEB;
      border: none;
    }

  }
}

.NavDesktop {
  position: relative;
  height: 100%;

  &--list {
    @include flex-row-between;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: 651px;
    height: 100%;
  }

  &--lanterns {
    display: none;

    &.active {
      @include flex-row-between;
      justify-content: center;
      align-items: flex-start;
      width: 100vw;
      position: absolute;
      top: 100%;
      background-color: #2E3C4BE6;
      height: 247px;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    &--wrapper {
      @include flex-column-between;
      justify-content: flex-start;
      flex-wrap: wrap;
      height: 174.89px;
      width: 77%;
      margin-top: 36px;
    }

    a {
      @include default-link;
      line-height: 35px;
      text-align: left;
      width: 184.43px;
    }
  }
}