@import '../../styles/texts.scss';

.Navigation--List--NavListItem {
  margin-top: 40.11px;

  a {
    @include default-link;
    font-size: 20px;
  }
}

@media(min-device-width: 1024px) {
  .Navigation--List--NavListItem {
    margin: 0;

    a {
      color: #2E3D4B;

      &:hover {
        border-bottom: 4px solid #E5A34C;
      }
    }
  }
}