@import '../styles/layout.scss';

.PageHeader {
  @include flex-row-between;
  height: 97px;
  z-index: 3;
  background-color: #FFFFFF;
  width: 100%;
  position: fixed;

  &.small {
    height: 48px;
  }

  &--wrapper {
    @include flex-row-between;
    margin: auto 36px;
    width: 100%;
  }

  &--logo {
    width: 100%;
    max-width: 117px;
    max-height: 32.47px;
  }
}