@import '../styles/texts.scss';
@import '../styles/layout.scss';

.InputWrapper {
  @include flex-column-between;

  label {
    font-size: 16px;
    text-align: left;
    font-family: ClarikaProGeoLight;
    width: 100%;
    letter-spacing: 0.4px;
    color: #2E3C4B;
    line-height: 23px;
  }

  input[type="text"] {
    width: 302px;
    height: 35px;
    padding: 0;
    border: none;
  }

  input[type="checkbox"] {
    width: 17px;
    height: 17px;
  }

  input[checked="checked"] {
    background-color: white;
    color: #AE4426;
  }

}