@import '../styles/buttons.scss';
@import '../styles/layout.scss';
@import '../styles/texts.scss';

button {
  @include remove-button-style;
}

#hamburger {
  height: 40px;
  width: 18px;
  margin-right: 36px;
}

#closeMenu {
  height: 17.68px;
  width: 17.68px;
}

#showLanternList {
  @include flex-row-between;
  width: 142.92px;
  margin-top: 40.11px;

  .rotate {
    transform: rotate(90deg);
  }

  p {
    text-transform: uppercase;
    font-size: 20px;
    color: #F2EDEB;
    margin: 0;
  }
}

.Navigation {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 0;
  top: 0;
  // background-color: #2E3D4BE5;
  background-color: #2E3D4B;
  width: 100%;
  height: 100vh;
  padding-right: 36px;
  font-family: 'Sulphur Point', sans-serif;
  z-index: 3;
  overflow-x: scroll;


  &.active {
    visibility: visible;
    opacity: 1;
    position: fixed;
  }

  &--header {
    @include flex-row-between;
    height: 97px;
    padding-left: 72px;
  }

  &--list {
    @include flex-column-between;
    align-items: flex-end;
    list-style-type: none;
    min-height: 254.89px;

    &--lanterns {
      display: none;

      &.active {
        @include flex-column-between;
        align-items: flex-end;
        margin-top: 40.11px;
      }

      list-style-type: none;
      height: 721.11px;

      a {
        @include default-link;
      }
    }
  }

}