@import '../../styles/texts.scss';
@import '../../styles/layout.scss';
@import '../../styles/buttons.scss';

.Footer {
  @include flex-column-between;
  background-color: #2E3D4B;
  height: 739px;
  color: #F2EDEB;
  font-family: 'Sulphur Point', sans-serif;

  h2 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
    margin-top: 41px;
  }

  a {
    @include default-link;
    font-size: 18px;
    border-bottom: 2px solid #E5A34C;
    line-height: 18px;
  }

  .contactDetails {
    width: 147px;
    height: 31px;
    font-size: 13.5px;
    text-align: center;

    p {
      margin: 0;
    }
  }

  .social-media {
    @include flex-row-between;
    width: 199.29px;
    height: 43.2px;

    button {
      @include remove-button-style;

      a {
        border: none;
      }
    }
  }

  .footer-pictures {
    @include flex-row-between;
    width: 302px;
    flex-wrap: wrap;
  }

  p {
    font-size: 12px;
    margin: 0;
    margin-bottom: 36px;
  }
}

@media(min-device-width: 1024px) {
  .Footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 458px;

    &--wrapper1 {
      @include flex-column-between;
      // margin-left: 139px;
      height: 222px;
      align-items: flex-start;
      margin-top: 57px;
      margin-right: 41px;

      h2 {
        margin-top: 0;
      }

      p {
        font-size: 18px;
      }

      .social-media {
        width: 237.74px;

        img {
          width: 53.74px;
        }
      }
    }

    &--wrapper2 {
      @include flex-column-between;
      align-items: flex-start;
      margin-top: 124px;
      max-width: 720px;
      height: 282px;

      p {
        font-size: 16px;
        margin-bottom: 0;
      }

      .footer-pictures {
        width: 96%;
        flex-wrap: nowrap;

        img {
          width: 168px;
          height: auto;
          margin-right: 10px;

          &:nth-child(4) {
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media(min-device-width: 1366px) {
  .Footer {

    a {
      font-size: 22px;
      line-height: 24px;
    }

    &--wrapper1 {
      margin-right: 127.66px;

      h2 {
        font-size: 26px;
      }
    }

    &--wrapper2 {
      .footer-pictures {
        width: 100%;

        img {
          margin-right: 16px;
        }
      }
    }
  }
}