@import '../../styles/layout.scss';
@import '../../styles/texts.scss';
@import '../../styles/buttons.scss';

.Lantern {
  &--basic-info {
    height: 452.76px;
    width: 100%;

    &--wrapper {
      @include flex-column-between;
      justify-content: flex-start;
      min-height: 43px;
      width: 100%;
      margin-top: 30px;

      h2 {
        @include main-text-style;
        letter-spacing: 0.45px;
      }

      .border {
        width: 8px;
        height: 2px;
        background-color: #AE4426;
      }

      p {
        width: 100vw;
        text-align: center;
      }
    }
  }
}