@import '../../styles/layout.scss';
@import '../../styles/texts.scss';
@import '../../styles/buttons.scss';

.Lantern {
  @include flex-column-between;
  width: 100%;
  background-color: #F2EDEB;
  margin-top: 97px;

  &--basicInfoWrapper {
    width: 302px;
    display: flex;
    flex-direction: column;
  }

  p {
    @include paragraph;
    margin: 0;
  }

  &--wrapper {
    @include flex-column-between;
    width: 302.4px;
  }
}


@media (min-width: 1024px) {
  .Lantern {
    margin-top: 0;

    &--wrapper {
      @include flex-column-between;
      width: 100%;
      max-width: 1087px;
    }

    &--basicInfoWrapper {
      @include flex-row-between;
      justify-content: center;
      width: 996px;
      height: 496px;

      img {
     margin-right: 232.25px;
   }
    }

    p {
      font-size: 20px;
      font-family: ClarikaProGeoLight;
      letter-spacing: 0.5px;
      line-height: 25px;
    }
  }
}