.Card{
  width: 165.5px;
  overflow: hidden;
}


.rectangle {
  width: 139.09px;
  height: 194.41px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FCF8F7;
  opacity: 0.48;
  transform: translateX(18px);
}