@import '../../styles/layout.scss';
@import '../../styles/texts.scss';

.ShopPage {
  @include flex-column-between;
  background-color: #F2EDEB;

  &--header {
    @include flex-column-between;
    justify-content: space-around;
    margin-top: 42px;

    h2,
    a {
      @include main-text-style;
      font-size: 22px;
      line-height: 31px;
      text-decoration: none;
    }

    &:nth-child(2) {
      margin-top: 30px;

      a,
      h2 {
        font-weight: normal;
      }
    }
  }

  &--articles {
    @include flex-column-between;
    width: 302px;
    height: 1100px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  &--product {
    @include flex-column-between;
    text-decoration: none;

    &--description {
      @include flex-row-between;
      width: 302px;
      margin-top: 18px;

      p {
        @include main-text-style;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        margin: 0 auto;
        text-decoration: none;
      }
    }
  }
}


@media (min-width: 1024px) {
  .ShopPage {

    &--header {
      margin-top: 60px;

      h2,
      a {
        font-size: 30px;
        line-height: 37px;
      }
    }

    &--articles {
      @include flex-row-between;
      flex-wrap: nowrap;
      width: 900px;
      height: auto;
      margin: 100px 0 200px 0;
    }

    &--product {
      max-width: 200px;

      img {
        max-width: 200px;
      }

      &--description {
        width: 200px;
        margin-top: 20px;

        p {
          font-size: 22px;
          line-height: 22px;
        }
      }
    }
  }
}

@media (min-width: 1366px) {

  .ShopPage {
    &--articles {
      width: 1088px;
    }

    &--product {
      img {
        max-width: 500px;
      }

      &--description {
        width: 500px;
      }
    }
  }
}