@import '../../styles/texts.scss';
@import '../../styles/layout.scss';

.IntroGadgets {
  @include flex-column-between;
  background-color: #F2EDEB;
  height: 551.59px;

  &--header {
    @include flex-column-between;
    justify-content: flex-start;
    width: 302px;
    height: 107px;
    margin-top: 51.03px;

    &--info {
      h2 {
        @include main-text-style;
      }
    }
  }

  &--gadgetsGetDetails {
    @include flex-row-between;
    margin-bottom: 60.44px;
    width: 302.72px;
    position: relative;
    
    #goToStore{
      position: absolute;
      top: 55.76px;
      left: 179.86px;
    }
  }
}