@import '../../styles/texts.scss';
@import '../../styles/layout.scss';
@import '../../styles/buttons.scss';

.Introduction {
  @include flex-column-between;
  background-color: #F2EDEB;
  height: 482px;

  &--header {
    @include flex-column-between;
    width: 302px;
    height: 107px;
    margin-top: 47px;

    &--headerWrapper {
      h2 {
        @include main-text-style;
      }
    }
  }

  &--carousel {
    width: 100%;
    margin-bottom: 48px;
  }
}


@media(min-device-width: 1024px) {
  .Introduction {
    text-align: center;
    height: 776.31px;
  }
}