@import '../../../styles/layout.scss';
@import '../../../styles/buttons.scss';
@import '../../../styles/texts.scss';

.ContactChannels {
  @include flex-column-between;
  background-color: #F2EDEB;
  height: 356px;

  header {
    width: 302px;
    height: 73px;
    margin-top: 40px;

    p {
      @include paragraph;
      margin: 0;
    }
  }

  &--emailWrapper {
    position: relative;

    &--emailAddress {
      font-size: 20px;
      font-family: "Sulphur Point", sans-serif;
      color: #F2EDEB;
      position: absolute;
      top: 3px;
      left: 25px;
    }
  }

  &--social-media {
    @include flex-row-between;
    width: 263.67px;

    button {
      @include remove-button-style;

      a {
        border: none;
      }
    }

    margin-bottom: 65.35px;
  }
}

@media(min-device-width: 1024px) {
  .ContactChannels {
    @include flex-column-between;
    align-items: flex-start;
    margin-top: 74px;
    height: 325.12px;
    width: 352px;
    margin-right: 50px;

    header {
      margin-top: 0;
      width: 100%;

      p {
        margin-top: 30px;
        font-size: 20px;
        letter-spacing: 0.5px;
        line-height: 25px;
      }
    }

    &--social-media {
      @include flex-row-between;
      width: 349.79px;
      margin-bottom: 0;

      img {
        width: 82.64px;
      }
    }

    &--emailWrapper {
      margin-top: 85px;

      img {
        width: 349.79px;
        height: 59.92px;
      }

      &--emailAddress {
        font-size: 22px;
        top: -7px;
        left: 59px;
      }
    }
  }
}

@media(min-device-width: 1366px) {
  .ContactChannels {
    margin-right: 201px;
  }
}